version: "3.8"
services:
  mysql:
    image: mysql:8.0
    container_name: hospital_mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: hospital_db
      MYSQL_USER: hospital_user
      MYSQL_PASSWORD: hospital_pass
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - hospital_network

volumes:
  mysql_data:

networks:
  hospital_network:
    driver: bridge
